<section>
    <header class="brand-name">

        <nav>
            <ul class="menuItems">
                <li><a [routerLink]="['/floor']">
                    <img class="brand-logo" src="/assets/logoFloor(2).svg" alt="logo" aria-hidden="true">
                </a></li>
            </ul>
        </nav>
    </header>

</section>
<section class="body">
    <div class="container">
        <div class="text">
            Insert Data
        </div>
        <form action="#">
          <div class="form-row">
              <div class="input-data select-container">
                  <label for="selectedFloor">Floor Code to Edit</label>
                  <select [(ngModel)]="selectedFloor" name="selectedFloor" id="selectedFloor">
                      <option value="" disabled>Select a floor</option>
                      <option *ngFor="let floor of this.floors" [ngValue]="floor">{{ floor.floorCode}}</option>
                  </select>
              </div>
            <div class="input-data">
              <input type="text" >
              <div class="underline"></div>
              <label for="">Floor Number</label>
            </div>
          </div>
          <div class="form-row">
            <div class="input-data">
              <input type="text" >
              <div class="underline"></div>
              <label for="">Length</label>
            </div>
            <div class="input-data">
              <input type="text" >
              <div class="underline"></div>
              <label for="">Width</label>
            </div>
          </div>
          <div class="form-row">
            <div class="input-data textarea">
              <textarea rows="8" cols="80" ></textarea>
              <br />
              <div class="underline"></div>
              <label for="">Description</label>
              <br />
              <div class="form-row submit-btn">
                <div class="input-data">
                  <div class="inner"></div>
                  <a [routerLink]="['/floor']"><input type="submit" value="submit" (click)="editFloor()" data-cy="editFloorButton" > </a>
                </div>
              </div>
            </div>
          </div>
        </form>
    </div>
    </section>