@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
nav {
    background: #f9f9f9;

    .menuItems {
        list-style: none;
        display: flex;

        & li {
          margin-top: 20px;
          margin-bottom:20px ;
          margin-left: 50px;

            & a {
                text-decoration: none;
                color: #8f8f8f;
                font-size: 24px;
                font-weight: 400;
                transition: all 0.5s ease-in-out;
                position: relative;
                text-transform: uppercase;

                &::before {
                    content: attr(data-item);
                    transition: 0.5s;
                    color: #8254ff;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 0;
                    overflow: hidden;
                }

                &:hover {
                    &::before {
                        width: 100%;
                        transition: all 0.5s ease-in-out;
                    }
                }
            }
        }
    }
}

.body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}
.container-body{
  display:flex;
  justify-content: center;
}
.container{

  background: rgba(255, 255, 255, 0.5);
   border:solid rgba(130, 84, 255,0.5);
    border-radius: 5px;
    width: 700px;
    padding: 25px 40px 10px 40px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.container .text{
    text-align: center;
    font-size: 41px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    background: -webkit-linear-gradient(right, #8254ff, #9f01ea, #8254ff, #9f01ea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container form{
    padding: 30px 0 0 0;
}
.container form .form-row{
    display: flex;
    margin: 32px 0;
}
form .form-row .input-data{
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;
}
form .form-row .textarea{
    height: 70px;
}
.input-data input,
.textarea textarea{
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 17px;
  background: transparent;
    border-bottom: 2px solid rgba(0,0,0, 0.12);
}
.input-data input:focus ~ label, .textarea textarea:focus ~ labell{
    transform: translateY(-20px);
    font-size: 14px;
    color: #8254ff;
}
.textarea textarea{
    resize: none;
    padding-top: 10px;

}
.input-data label{
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    font-size: 16px;
    transition: all 0.3s ease;

}
.textarea label{
    width: 100%;
    bottom: 40px;
}
.input-data .underline{
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
}
.input-data .underline:before{
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: #8254ff;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.textarea textarea:focus ~ .underline:before{
    transform: scale(1);
}
.submit-btn .input-data{
    overflow: hidden;
    height: 45px!important;
    width: 25%!important;
}
.submit-btn .input-data .inner{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(right, #8254ff, #9f01ea, #8254ff, #9f01ea);
    transition: all 0.4s;
}
.submit-btn .input-data:hover .inner{
    left: 0;
}
.submit-btn .input-data input{
    background: none;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}
@media (max-width: 700px) {
    .container .text{
        font-size: 30px;
    }
    .container form{
        padding: 10px 0 0 0;
    }
    .container form .form-row{
        display: block;
    }
    form .form-row .input-data{
        margin: 35px 0!important;
    }
    .submit-btn .input-data{
        width: 40%!important;
    }
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}
