# See https://help.github.com/ignore-files/ for more about ignoring files.
# dependencies
/node_modules

Visualization/node_modules
Visualization/.angular
angular-three/.angular
angular-three/node_modules
Information_Manager/node_modules




# misc
.DS_Store
Information_Manager/.env
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build
.vscode
.editorconfig
.gitignore
mocha.config.js
.nyc_output
.idea
