<section>
    <header class="brand-name">

        <nav>
            <ul class="menuItems">
                <li><a [routerLink]="['/lift']">
                    <img class="brand-logo" src="/assets/logoLift.svg" alt="logo" aria-hidden="true">
                </a></li>
            </ul>
        </nav>
    </header>

</section>
<section class="body">
    <div class="container">
        <div class="text">
            Insert Data
        </div>
        <form action="#">
          <div class="form-row">
              <div class="input-data select-container">
                  <label for="selectedLift">Lift Code to Edit</label>
                  <select [(ngModel)]="selectedLift" name="selectedLift" id="selectedLift">
                      <option value="" disabled>Select a building</option>
                      <option *ngFor="let lift of this.lifts" [ngValue]="lift">{{ lift.code }}</option>
                  </select>
              </div>
            <div class="input-data">
              <input type="text" >
              <div class="underline"></div>
              <label for="">floors(seperated by commas)</label>
            </div>
          </div>
          <div class="form-row">
            <div class="input-data">
              <input type="text" >
              <div class="underline"></div>
              <label for="">brand</label>
            </div>
            <div class="input-data">
              <input type="text" >
              <div class="underline"></div>
              <label for="">model</label>
            </div>
          </div>
          <div class="form-row">
            <div class="input-data">
              <input type="text" >
              <div class="underline"></div>
              <label for="">Serial Number</label>
            </div>
          </div>
          <div class="form-row">
            <div class="input-data textarea">
              <textarea rows="8" cols="80" ></textarea>
              <br />
              <div class="underline"></div>
              <label for="">Description</label>
              <br />
              <div class="form-row submit-btn">
                <div class="input-data">
                  <div class="inner"></div>
                  <a [routerLink]="['/lift']"><input type="submit" value="submit" (click)="editLift()" data-cy="editLiftButton" > </a>
                </div>
              </div>
            </div>
          </div>
        </form>
    </div>
    </section>