<section>
    <header class="brand-name">

        <nav>
            <ul class="menuItems">
                <li><a [routerLink]="['/passageway']">
                    <img class="brand-logo" src="/assets/logoPassageway.svg" alt="logo" aria-hidden="true">
                </a></li>
            </ul>
        </nav>
    </header>

</section>
<section class="body">
    <div class="container">
        <div class="text">
            Insert Data
        </div>
        <form action="#">
          <div class="form-row">
              <div class="input-data select-container">
                  <label for="selectedPassageway">Passageway Code to Edit</label>
                  <select [(ngModel)]="selectedPassageway" name="selectedPassageway" id="selectedPassageway">
                      <option value="" disabled>Select a passageway</option>
                      <option *ngFor="let passageway of this.passageways" [ngValue]="passageway">{{ passageway.passageCode }}</option>
                  </select>
              </div>
          </div>
          <div class="form-row">
              <div class="input-data select-container">
                  <label for="selectedFloor1">Floor Code to Edit</label>
                  <select [(ngModel)]="selectedFloor1" name="selectedFloor1" id="selectedFloor1">
                      <option value="" disabled>Select a floor</option>
                      <option *ngFor="let floor of this.floors" [ngValue]="floor">{{ floor.floorCode}}</option>
                  </select>
              </div>
              <div class="input-data select-container">
                  <label for="selectedFloor2">Floor Code to Edit</label>
                  <select [(ngModel)]="selectedFloor2" name="selectedFloor2" id="selectedFloor2">
                      <option value="" disabled>Select a floor</option>
                      <option *ngFor="let floor of this.floors" [ngValue]="floor">{{ floor.floorCode}}</option>
                  </select>
              </div>
          </div>
          <div class="form-row">
            <div class="input-data textarea">
              <textarea rows="8" cols="80" ></textarea>
              <br />
              <div class="underline"></div>
              <label for="">Description</label>
              <br />
              <div class="form-row submit-btn">
                <div class="input-data">
                  <div class="inner"></div>
                  <a [routerLink]="['/passageway']"><input type="submit" value="submit" (click)="editPassageway()" > </a>
                </div>
              </div>
            </div>
          </div>
        </form>
    </div>
    </section>