<section>
    <header class="brand-name">

        <nav>
            <ul class="menuItems">
                <li><a [routerLink]="['/floor']">
                    <img class="brand-logo" src="/assets/logoFloor(2).svg" alt="logo" aria-hidden="true">
                </a></li>
              <li>Floors by building with passageway
                <div class="search-box">
                  <input type="text" class="input-search" placeholder="Building's floors with passageway" #filter>
                  <button class="btn-search" type="button" (click)="CallMethod(filter.value)">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </div>
              </li>
              <li>Floors by building
                <div class="search-box">
                  <input type="text" class="input-search" placeholder="Building..." #building>
                  <button class="btn-search" type="button" (click)="CallMethod1(building.value)">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </div>
              </li>
            </ul>
        </nav>
    </header>

</section>

<section class="list-container">
  <div class="body">
  <app-floor-info *ngFor="let FloorInfo of floorList" [floorInfo]="FloorInfo"></app-floor-info>
  </div>
</section>