<section>
    <header class="brand-name">

        <nav>
            <ul class="menuItems">
                <li><a [routerLink]="['/lift']">
                    <img class="brand-logo" src="/assets/logoLift.svg" alt="logo" aria-hidden="true">
                </a></li>
            </ul>
        </nav>
    </header>

</section>
<section class="body">
    <div class="container">
        <div class="text">
            Insert Lift Data
        </div>
        <form action="#">
            <div class="form-row">
                <div class="input-data select-container">
                    <label for="selectedBuilding">Building Code to Edit</label>
                    <select [(ngModel)]="selectedBuilding" name="selectedBuilding" id="selectedBuilding">
                        <option value="" disabled>Select a building</option>
                        <option *ngFor="let building of this.buildings" [ngValue]="building">{{ building.code }}</option>
                    </select>
                </div>
                <div class="input-data">
                    <input type="text" required>
                    <div class="underline"></div>
                    <label for="">Floors(seperated by commas)</label>
                </div>
            </div>
            <div class="form-row">
                <div class="input-data">
                    <input type="text" required>
                    <div class="underline"></div>
                    <label for="">Brand</label>
                </div>
                <div class="input-data">
                    <input type="text" required>
                    <div class="underline"></div>
                    <label for="">Model</label>
                </div>
            </div>
            <div class="form-row">
                <div class="input-data">
                    <input type="text" required>
                    <div class="underline"></div>
                    <label for="">Serial Number</label>
                </div>
            </div>
            <div class="form-row">
                <div class="input-data textarea">
                    <textarea rows="8" cols="80" required></textarea>
                    <br />
                    <div class="underline"></div>
                    <label for="">Description</label>
                    <br />
                    <div class="form-row submit-btn">
                        <div class="input-data">
                            <div class="inner"></div>
                            <a [routerLink]="['/lift']"><input type="submit" value="submit" (click)="createLift()" data-cy="createLiftButton"> </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    </section>