<section>
  <header class="brand-name">
    <nav>
      <ul class="menuItems">
        <li>
          <a [routerLink]="['/robot']">
            <img class="brand-logo" src="/assets/logoRobot.svg" alt="logo" aria-hidden="true">
          </a>
        </li>
      </ul>
    </nav>
  </header>
</section>
<section>
  <div class="card-container">
    <div *ngFor="let robot of robots" class="card">
      <div class="card-content">
      <img class="robot-image" src="/assets/robot.png" alt="robot-image" aria-hidden="true">
        <div class="robot-name">{{ robot.name }}</div>
        <div class="robot-status">Enabled: {{ robot.enabled }}</div>
      </div>
      <div class="card-button">
        <button class="cd-btn main-action" (click)="toggleRobotStatus(robot.code, robot.enabled === true)">
          Toggle Status
        </button>
      </div>
    </div>
  </div>
</section>