body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

nav {
  background: #f9f9f9;

  .menuItems {
      list-style: none;
      display: flex;

      & li {
          margin-top: 20px;
          margin-bottom: 20px;
          margin-left: 50px;

          & a {
              text-decoration: none;
              color: #8f8f8f;
              font-size: 24px;
              font-weight: 400;
              transition: all 0.5s ease-in-out;
              position: relative;
              text-transform: uppercase;

              &::before {
                  content: attr(data-item);
                  transition: 0.5s;
                  color: #8254ff;
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  left: 0;
                  right: 0;
                  width: 0;
                  overflow: hidden;
              }

              &:hover {
                  &::before {
                      width: 100%;
                      transition: all 0.5s ease-in-out;
                  }
              }
          }
      }
  }
}

.confirmation-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 0px;
}

.form-row {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  height: 40vh;
}

.submit-btn {
  width: 58%;
  padding: 15px;
  margin-top: -225px;
  border-radius: 1px;
  border: 3px solid #ccc;
  font-family: inherit;
  background-color: #5016f4;
  color: white;
  font-weight: bold;
  text-align: center;
}

.input-data:hover .inner {
  left: 0;
}

.input-data input {
  background: none;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  width: 300%; /* Adicionado para ocupar toda a largura do input-data */
}