<section>
    <header class="brand-name">

        <nav>
            <ul class="menuItems">
                <li><a [routerLink]="['/floor']">
                    <img class="brand-logo" src="/assets/logoFloor(2).svg" alt="logo" aria-hidden="true">
                </a></li>
            </ul>
        </nav>
    </header>

</section>
<section class="body">
    <div class="container">
        <div class="text">
            Insert Data
        </div>
        <form action="#">
            <div class="form-row">
                <div class="input-data">
                    <input type="text" required>
                    <div class="underline"></div>
                    <label for="">Floor Code</label>
                </div>
                <div class="input-data">
                    <input type="text" required>
                    <div class="underline"></div>
                    <label for="">Floor Number</label>
                </div>
            </div>
            <div class="form-row">
                <div class="input-data">
                    <input type="text" required>
                    <div class="underline"></div>
                    <label for="">Length</label>
                </div>
                <div class="input-data">
                    <input type="text" required>
                    <div class="underline"></div>
                    <label for="">Width</label>
                </div>
              </div>
            <div class="form-row">
            <div class="input-data select-container">
                <label for="selectedBuilding">Building Code to Create Floor</label>
                <select [(ngModel)]="selectedBuilding" name="selectedBuilding" id="selectedBuilding">
                    <option value="" disabled>Select a building</option>
                    <option *ngFor="let building of this.buildings" [ngValue]="building">{{ building.code }}</option>
                </select>
            </div>
            </div>
            <div class="form-row">
                <div class="input-data textarea">
                    <textarea rows="8" cols="80" required></textarea>
                    <br />
                    <div class="underline"></div>
                    <label for="">Description</label>
                    <br />
                    <div class="form-row submit-btn">
                        <div class="input-data">
                            <div class="inner"></div>
                            <a [routerLink]="['/floor']"><input type="submit" value="submit" (click)="createFloor()" data-cy="createFloorButton"> </a>
                        </div>
                    </div>
                  </div>
              </div>
        </form>
    </div>
    </section>