
<div class="container" onclick="onclick">
    <div class="top"></div>
    <div class="bottom"></div>
    <div class="center">
        <img class="brand-logo" src="./assets/login.svg" alt="logo" aria-hidden="true">
        <input type="firstName" placeholder="First Name"/>
        <input type="lastName" placeholder="Last Name"/>
        <input type="email" placeholder="Email"/>
        <input type="phoneNumber" placeholder="Phone Number"/>
        <input type="NIF" placeholder="NIF"/>
        <input type="password" placeholder="Password"/>
        <div class="consentimento">
            <input type="checkbox" id="consent" (change)="onConsentChange($event)"/>
            <p>Eu aceito os <a [routerLink]="['/termsandConditions']">Termos e Condições</a></p>
        </div>
        <a [routerLink]="['']">
            <button type="submit" value="submit" (click)="signUp()" data-cy="signUpButton" >
                Sign Up
            </button>
        </a>
        <a [routerLink]="['']">
            <button type="reset" value="cancel" data-cy="cancelButton">
                Cancel
            </button>
        </a>
    </div>
</div>
