<section>
    <header class="brand-name">

      <nav>
        <ul class="menuItems">
          <li><a [routerLink]="['/robot']">
            <img class="brand-logo" src="/assets/logoRobot.svg" alt="logo" aria-hidden="true">
          </a></li>
        </ul>
      </nav>
    </header>

  </section>
  <section class="body">
    <div class="container">
      <div class="text">
        Insert Data
      </div>
      <form action="#">
        <div class="form-row">
          <div class="input-data">
            <input type="text" required>
            <div class="underline"></div>
            <label for="">Robot Code</label>
          </div>
          <div class="input-data">
            <input type="text" required>
            <div class="underline"></div>
            <label for="">Name</label>
          </div>
        </div>
        <div class="form-row">
            <div class="input-data select-container">
                <label for="selectedRobotType">Robot Type for Robot</label>
                <select [(ngModel)]="selectedRobotType" name="selectedRobotType" id="selectedRobotType">
                    <option value="" disabled>Select a RobotType</option>
                    <option *ngFor="let robotType of this.robotTypes" [ngValue]="robotType">{{ robotType.code}}</option>
                </select>
            </div>
        </div>

        <div class="form-row">
          <div class="input-data textarea">
            <textarea rows="8" cols="80" required></textarea>
            <br />
            <div class="underline"></div>
            <label for="">Description</label>
            <br />
            <div class="form-row submit-btn">
              <div class="input-data">
                <div class="inner"></div>
                <a [routerLink]="['/robot']"><input type="submit" value="submit" (click)="createRobot()"> </a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>